<!DOCTYPE html>
<html>
    <body>
        <h1>
            <% if (isBoom) { %>
                BOOOM!!!
            <% } else { %>
                No Boom (aw man :( )
            <% } %>
        </h1>
        <p href = "/">go back</p>
    </body>
</html>