<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fact</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>Interesting Fact</h1>
  <p><%= s %></p>
  <a href="/fact">Next Fact</a>
  <br>
  <a href="/">Back to Home</a>
</body>
</html>
