<!DOCTYPE html>

<head>
    <title>My Website</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="center">
        <h1><%= title %></h1>
        <p>This is served from a file</p>
        
    </div>
</body>

</html>