<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <div class="container">
    <b>Login</b>
    <form action="/login" method="get">
      <input type="text" placeholder="Username" name="username" required>
      <br/>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>